/*
Colors used

Text Color (White): #FFFFFF;
Highlight Colour: (Neon Blue): #5C5CFF
Primary Color (Rich Black FOGRA 39): #0C080A;
Secondary Color (Oxford Blue): #06194B;
Tertiary Color (Space Cadet): #393659
*/

/* VARIABLES */
:root {
    --text-color: #FFFFFF;
    --primary-color: #0C080A;
    --secondary-color: #646464;
    --visited-color: #393659;
    --hover-color: #5C5CFF;
    --active-color: #5C5CFF;
    --button-background-color: #0C080A;
    --button-text-color: #FFFFFF;
    --button-border-color: #5C5CFF;
    --sun-yellow: #edc655;
    --sun-red: #f76414;
    --font-size-h1: 30px;
    --font-size-h2: 24px;
    --font-size-h3: 18px;
    --font-weight-hx: 700;
    --font-size-main: 16px;
    --font-size-footer: 12px;


  }
  
body {
    font-family: 'Space Mono', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-main);
    line-height: 1.6;

    }
* {
    box-sizing: border-box;
}


h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-hx);
    }
  
h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-hx);
    }
  
h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-hx);
    }

a {
    color: var(--primary-color);
}

a:visited {
    /* visited link */
    color: var(--visited-color);
    }

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: var(--hover-color);
    }
      
a:active {
    /* selected link */
    color: var(--active-color);
    } 

.button, button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
    }
      
button:hover, button:focus, .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    }
      

.button__secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
    }

.navigation-list__item--active {
    text-decoration: none;
    }
.navigation-list {
    list-style-type: none;
    }
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    }

.profile__portrait {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
    }

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    }

.profile {
    max-width: 700px;
    margin: 0 auto;
    }
.profile__text {
    flex: 1 1 100px;
}
.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 0.1px solid black;
  }
.page-header__item {
    flex: 0 1 200px;
  }
.page-header .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}
#my_logo {
    width: 250px;
    height: 50px;
}

/*grid*/

.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

.grid__item {
    background-color: lightgray;

  }
/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
   }
   /* end grid fallback */
@supports (display: grid) {
    .grid {
      display: grid;
      /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: 0;
   
        }
    .grid__item {
      background-color: lightgray;
      width: auto;
      min-height: auto;
      margin: 0;
        }
    .grid__item:last-child {
      grid-column: 3 / 3;
      grid-row: 1 / 3;
        }
    }

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}
.content {
    text-align: center;

}
.content_item {
    text-align: center;
    list-style-type: none;
    padding: 0px;
}

/*keyframe animation*/

@keyframes sun-color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
.sun {
    animation-duration: 4s;
    animation-name: sun-color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
  }
.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

@keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
